body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,
textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

body{
    line-height: 50px;
    background: #e8e8e8;
}

.container{
    margin: 100px 300px 100px 290px;
    position: relative;
}

.travel{
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #273d46;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.container h1{
    font-weight: 400;
    font-size: 36px;
    color: #273d46;
    font-family: "Times New Roman";
    text-align: center;
}
.image{
    margin-top: 70px;
    background: url('/img/light-man.png') no-repeat;
    background-size: contain;
    height: 537px;
    border: 15px solid #ffffff;
    filter: drop-shadow(0px 15px 32.5px rgba(15, 16, 16, 0.15));
}

.container__text{
    margin: 25px 63px 0 44px;
    line-height: 25px;
}

.container__order{
    list-style-type:none;
    margin: 60px 0 0 44px;
}