body{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #87509c;
    text-align: center;
}
.frst-block{
    position: relative;
    margin: 0px 110px;
    padding-top: 60px;
    height: 350px;
}

.main-text{
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size:x-large;
    font-weight: bold;
    color:#fff;
}

.nav button{
    padding: 6px 14px;
    background-color:inherit;
    border: 1px solid #87509c;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.nav button:hover{
    background-color: #643a79;
}

.yellow{
    background-color: #eb7d4b;
    margin-bottom: 150px;
}

.std-btn{
    display: inline-block;
    height: 50px;
    width: 20%;
    font-size: 13px;
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
    color:#fff;
    border-radius: 5px;
    border-color: #eb7d4b;
    box-shadow:#c86a40 0em .7px 1em;
}

.std-btn:hover{
    box-shadow: none;
}

.sec-block{
    background-color:#17c2a4;
    height: 500px;
}